<style>
#gioi_thieu  { text-align: justify; font-size: 1.3em; line-height: 150%}
#gioi_thieu > * { margin: 15px}
#gioi_thieu h1 { font-size: 1.5em;} 

</style>
<div id="gioi_thieu">
    <h1>Giới thiệu Thư viện</h1>
    <p>Thư viện với chức năng chính là quản lý và cho mượn sách, báo. Những năm đầu khi mới thành lập, cơ sở vật chất và vốn tài liệu còn hạn chế. Đến cuối nhiệm kỳ 1, Thư viện chỉ có khoảng hơn 1.500 đầu sách, chủ yếu là sách tiếng Việt, công tác quản lý còn thô sơ, thủ công.</p>
    <p>Thư viện với các chức năng chính là: quản lý Thư viện, lập trình và quản lý hệ thống mạng toàn trường). Cùng với sự phát triển không ngừng của Nhà trường và được sự quan tâm, đầu tư thích đáng từ Ban Giám hiệu, Thư viện ngày càng hoàn thiện và lớn mạnh theo hướng chất lượng và hiện đại.</p>
    <p><b>Mục tiêu nhiệm vụ: </b>Tổ chức khai thác, lưu trữ và cung cấp thông tin tư liệu trong các lĩnh vực khoa học, công nghệ, kinh tế, xã hội và nhân văn ... phục vụ công tác đào tạo, nghiên cứu, học tập của cán bộ, giảng viên và sinh viên trong Nhà trường.</p>
    <div style="text-align:center">
    <img alt="" height="500" width="800" src="https://lhu.edu.vn/Data/News/318/images/277217828_332778625575083_9068105147415198509_n.jpg" >
    <p>Kho sách Thư viện</p>
    <p><img alt="" height="500" width="800" src="https://lhu.edu.vn/Data/News/318/images/297164561_420203406832604_5160728877608558376_n.jpg" ></p>
    <p>Phòng đọc của Thư viện</p>
    </div>
    <p style="text-align:center"><img alt="" height="500" width="800" src="https://lhu.edu.vn/Data/News/318/images/276128724_5351720348171560_3989393400692326096_n.jpg"></p>
    <p><b>Vốn tài liệu:</b> hiện có hơn 10.800 tựa sách in tương đương hơn 21.300 cuốn, gồm sách tiếng Việt, tiếng Anh, tiếng Trung, Hàn, Nhật, trong đó chủ yếu là giáo trình và tài liệu tham khảo môn học; một số ít tài liệu giải trí; 3 cơ sở dữ liệu (CSDL)<b> </b>điện tử; hơn 3.490 báo cáo NCKH, luận văn, luận án, 208 giáo trình do Trường biên soạn (dạng file điện tử). Bên cạnh đó, Thư viện cũng tập trung xây dựng và phát triển nguồn tài liệu số, giáo trình, bài giảng điện tử, báo cáo NCKH. Từ năm 2024, phát triển và vận hành thư viện số. Trên cơ sở chính sách nhà trường và nhu cầu thực tế, Thư viện liên tục bổ sung tài liệu đáp ứng ngày càng đầu đủ, kịp thời nhu cầu đọc của cán bộ, nhân viên, giảng viên, sinh viên trong trường, đồng thời áp dụng chương trình quản lý tiên tiến ứng dụng công nghệ thông tin, phù hợp với xu thế xã hội.</p>
    <p><b>+ Tài liệu in giấy:<em> </em></b>bao gồm giáo trình, sách tham khảo chủ yếu thuộc các lĩnh vực Trường có chuyên ngành đào tạo<b><em>, </em></b>phục vụ cán bộ, giảng viên và sinh viên trong Trường đọc tại chỗ hoặc mượn mang về. Thư viện sử dụng bảng phân loại DDC để phân loại và tổ chức kho sách:</p>
    <ul>
    <li>000 Tin học, thông tin và tác phẩm tổng quát</li>
    <li>100 Triết học và tâm lý học</li>
    <li>200 Tôn giáo</li>
    <li>300 Khoa học xã hội gồm văn hóa, chính trị, luật pháp, thương mại</li>
    <li>400 Ngôn ngữ</li>
    <li>500 Khoa học tự nhiên</li>
    <li>600 Công nghệ gồm y học, công nghệ hóa học, thực phẩm, công nghệ sản xuất…</li>
    <li>700 Nghệ thuật và giải trí</li>
    <li>800 Văn học</li>
    <li>900 Lịch sử và địa lý</li>
    </ul>
    <p><b>+ Tài liệu điện tử: </b>Tài liệu điện tử đa dạng và phong phú. Bao gồm: giáo trình do Trường biên soạn, báo cáo khoa học cấp trường, luận án tiến sĩ, luận văn thạc sĩ</p>
    <p><b>Hệ thống quản lý Thư viện</b></p>
    <p>Từ năm 2024 Thư viện đã được trang bị phần mềm quản lý Thư viện, phục vụ công tác biên mục; quản lý tài liệu; công tác mượn trả và tra cứu tài liệu trực tuyến qua máy tính hoặc các thiết bị di động. Qua mỗi năm, phần mềm quản lý Thư viện luôn được Nhà trường quan tâm nâng cấp; cải tiến các tính năng ưu việt hơn, thuận tiện hơn cho người sử dụng.</p>
    </div>
    